.about-us
    .container-fluid
        .col-md-7.about-us__sales
            .col-md-3.col-sm-2
            .col-md-9.col-sm-10.col-xs-12
                .row
                    .about-us__sales__title
                        h1.about-us__sales__title__text.text-uppercase new prices
                .row

                    .wrap-sale__after.wrap-sale__after-gnacchi
                        p.wrap-sale__after__text.wrap-sale__after-gnacchi__text $11.40


                    .about-us__sales__gnacchi
                        .wrap-sale__before.wrap-sale__before-gnacchi
                            p.wrap-sale__before__text.wrap-sale__before-gnacchi__text $14.80

                        .about-us__sales__gnacchi__title
                            h3.about-us__sales__gnacchi__title__text
                                a(href='#' class='about-us__sales__gnacchi__title__text__link about-us__dishes__title') Gnocchi Sorrento
                        .about-us__sales__gnacchi__info
                            p.about-us__sales__gnacchi__info__text.about-us__dishes__info Our tomato sauce topped with mozzarella & fresh herbs.

                .row

                    .wrap-sale__after.wrap-sale__after-alfredo
                        p.wrap-sale__after__text.wrap-sale__after-alfredo__text $11.40

                    .about-us__sales__alfredo
                        .wrap-sale__before.wrap-sale__before-alfredo
                            p.wrap-sale__before__text.wrap-sale__before-alfredo__text $14.80

                        .about-us__sales__alfredo__title
                            h3.about-us__sales__alfredo__title__text
                                a(href='#' class='about-us__sales__alfredo__title__text__link about-us__dishes__title') Alfredo
                        .about-us__sales__alfredo__info
                            p.about-us__sales__alfredo__info__text.about-us__dishes__info Parmigiana cream sauce (Add Chicken $2, Add Shrimp $4).

                .row


                    .about-us__sales__calamari
                        .about-us__sales__calamari__title
                            h3.about-us__sales__calamari__title__text
                                a(href='#' class='about-us__sales__calamari__title__text__link about-us__dishes__title') Calamari Marinara
                        .about-us__sales__alfredo__info
                            p.about-us__sales__calamari__info__text.about-us__dishes__info Calamari tossed with our zesty marinara over linguini.
                        .wrap-sale__after.wrap-sale__after-calamari
                            p.wrap-sale__after__text.wrap-sale__after-calamari__text $11.40

                    .wrap-sale__before.wrap-sale__before-calamari
                        p.wrap-sale__before__text.wrap-sale__before-calamari__text $14.80


        .col-md-5.col-xs-12.about-us__right-side

            //img(src='../components/img/2.jpg' class='about-us__right-side__img')

            .row
                .about-us__right-side__title
                    h2.about-us__right-side__title__text Welcome
                .about-us__right-side__info
                    p.about-us__right-side__info__text Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.
            .row
                .about-us__right-side__delivery
                    .about-us__right-side__delivery__title
                        h3.about-us__right-side__delivery__title__text Delivery<br>or Take Out

                    .about-us__right-side__delivery__number
                        a(href='#' class='about-us__right-side__delivery__number__text') +1 800 559 35 48

                    .about-us__right-side__delivery__link
                        a(href='#' class='about-us__right-side__delivery__link__text') order now
            .row.about-us__right-side__box
                .about-us__right-side__title
                    h2.about-us__right-side__title__text Best Recipes

                .about-us__right-side__info.about-us__right-side__box__info
                    p.about-us__right-side__info__text A lot of people all around the world admire Italian food. We work for big lovers of Italian culinary majesty, pizza, lasagna, different kinds of pasta, meatballs and spaghetti, specialty sauces, tasty desserts.
                    a(href='#' class='about-us__right-side__info__link') read more