doctype html
html
    head
        block title
        block meta
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        block css
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
            link(rel="styleSheet" href="style.css")

        block font
            link(href='https://fonts.googleapis.com/css?family=Vidaloka' rel='stylesheet' type='text/css')
        block badge
            link(rel="styleSheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css")
    body
        block content
        block script
