.menu
    .container-fluid
        .row
            .col-md-4
            .col-md-4
                .menu__title
                    h1.menu__title__text Menu
            .col-md-4
        .row
            .col-md-4
            .col-md-4
                .menu__info
                    p.menu__info__text We offer the best meals at<br>the best value
            .col-md-4
        .row
            .col-md-1
            .col-md-10
                .menu__book
                    #carousel-example-generic.carousel.slide(data-ride='carousel' data-interval='false')
                        .carousel-inner(role='listbox').menu__book__pages.text-uppercase
                            .item.active.menu__book__info__page.menu__info__book__page_1

                                    // menu book page №1 right

                                    .col-xs-6.menu__book__info.menu__book__info__page__rigth
                                        ul.menu__book__info__list
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60


                                    // menu book page №1 left

                                    .col-xs-6.menu__book__info.menu__book__info__page__left
                                        ul.menu__book__info__list
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60


                            .item.menu__book__info__page.menu__book__info__page_2

                                    // menu book page №2 right

                                    .col-xs-6.menu__book__info.menu__book__info__page__rigth
                                        ul.menu__book__info__list
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60


                                    // menu book page №2 left

                                    .col-xs-6.menu__book__info.menu__book__info__page__left
                                        ul.menu__book__info__list
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60


                            .item.menu__book__info__page.menu__book__info__page_3

                                    // menu book page №3 right

                                    .col-xs-6.menu__book__info.menu__book__info__page__rigth
                                        ul.menu__book__info__list
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60

                                    // menu book page №3 left

                                    .col-xs-6.menu__book__info.menu__book__info__page__left
                                        ul.menu__book__info__list
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60
                                            li.menu__book__info__list__item tuna salad
                                                span.menu__book__info__list__item__price $5.60

                a.menu__btn.menu__btn__left(href='#carousel-example-generic' role='button' data-slide='prev' class='slide-btn prev-btn')
                                        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                                        span.sr-only Previous
                a.menu__btn.menu__btn__right(href='#carousel-example-generic' role='button' data-slide='next' class='slide-btn next-btn')
                                        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                                        span.sr-only Next

            .col-md-1