
.service
    .preservice
        .preservice__circle
            img(src='../components/img/crown.png' class='preservice__circle__img img-responsive')
            h1.preservice__circle__title.text-uppercase catering service

    .container-fluid
        .row
            .col-sm-6.col-md-5.service__cook
                img(src='../components/img/cook.jpg' class='img-responsive service__cook__img')
            .col-sm-6.col-md-4.service__offer
                        .service__offer__title
                            h2.service__offer__title__text Please Call at Least 24 Hours in<br> Advance For Catering Orders

                        p.service__offer__info Half Serve 6 to 8 People & Full Serve<br>12 to 14 People

                        .col-xs-12.col-sm-6.service__offer__dishes
                            a(href='#' class='service__offer__dishes__link')
                                img(src='../components/img/pasta.jpg' class='img-responsive service__offer__dishes__img')
                                .service__offer__dishes__more
                                    p.service__offer__dishes__more__text more
                            a(href='#' class='service__offer__dishes__title text-uppercase') pasta
                        .col-xs-12.col-sm-6.service__offer__dishes
                            a(href='#' class='service__offer__dishes__link')
                                img(src='../components/img/pasta.jpg' class='img-responsive service__offer__dishes__img')
                                .service__offer__dishes__more
                                    p.service__offer__dishes__more__text more
                            a(href='#' class='service__offer__dishes__title text-uppercase') pasta

                        .col-xs-12.col-sm-6.service__offer__dishes
                            a(href='#' class='service__offer__dishes__link')
                                img(src='../components/img/pasta.jpg' class='img-responsive service__offer__dishes__img')
                                .service__offer__dishes__more
                                    p.service__offer__dishes__more__text more
                            a(href='#' class='service__offer__dishes__title text-uppercase') pasta
                        .col-xs-12.col-sm-6.service__offer__dishes
                            a(href='#' class='service__offer__dishes__link')
                                img(src='../components/img/pasta.jpg' class='img-responsive service__offer__dishes__img')
                                .service__offer__dishes__more
                                    p.service__offer__dishes__more__text more
                            a(href='#' class='service__offer__dishes__title text-uppercase') pasta
            .col-md-3.service__spaghetti
                img(src='../components/img/spaghetti.jpg' class='service__spaghetti__img img-responsive')

