.event
    .container-fluid.event__sale
        .col-md-2.col-xs-1
        .col-md-8.col-xs-10.event__sale__baner
            .col-sm-4.col-xs-12.event__sale__baner__left
                a(href='#' class='event__sale__link')
                    .row
                        p.event__sale__link__info only
                    .row
                        p.event__sale__link__price $18.90
                    .row
                        p.event__sale__link__info with tax
            .col-sm-8.col-xs-12.event__sale__baner__right
                    .event__offer
                        h2.event__offer__title 2 Large Cheese Pizzas
                        p.event__offer__text everyday special
        .col-md-2.col-xs-1
